%nav.col-md-1.d-md-block.bg-dark.sidebar
  .sidebar-sticky.pt-0.border-right
    %ul.nav.flex-column.list-group.list-group-flush.p-3
      = link_to root_path, class: 'list-group-item list-group-item-action' do
        %i.fa-solid.fa-chart-line
        Dashboard
      = link_to rooms_path, class: 'list-group-item list-group-item-action' do
        %i.fa-solid.fa-people-roof
        Rooms
      = link_to reservations_path, class: 'list-group-item list-group-item-action' do
        %i.fa-solid.fa-bookmark
        Reservations
      - if @current_role == "admin"
        %br
        = link_to tenants_path, class: 'list-group-item list-group-item-action' do
          %i.fa-solid.fa-sitemap
          Tenants
        = link_to locations_path, class: 'list-group-item list-group-item-action' do
          %i.fa-regular.fa-building
          Locations
        = link_to floors_path, class: 'list-group-item list-group-item-action' do
          %i.fa-solid.fa-stairs
          Floors
        = link_to desks_path, class: 'list-group-item list-group-item-action' do
          %i.fa-solid.fa-desktop
          Desks
        = link_to limitations_path, class: 'list-group-item list-group-item-action' do
          %i.fa-solid.fa-hand
          Limitations
        = link_to users_path, class: 'list-group-item list-group-item-action' do
          %i.fa-solid.fa-users
          Users
      - if @current_role == "admin"
        %br
        = link_to sidekiq_web_path, class: 'list-group-item list-group-item-action', target: '_blank' do
          %i.fa-solid.fa-arrow-up-right-from-square
          Queues
        = link_to './metrics', class: 'list-group-item list-group-item-action', target: '_blank' do
          %i.fa-solid.fa-arrow-up-right-from-square
          Metrics
      
    %ul.nav.flex-column.list-group.list-group-flush.p-3
