%h2
  Dashboard
%i.fa-solid.fa-circle-info
%p This page is partially cached for up to an hour.

.d-flex.flex-row.p-2.bd-hightlight
  .d-flex.flex-column.bd-hightlight.mb-3.w-50.mr-3
    - @output.tenants.each do |tenant|
      .d-flex.flow-row.mb-3
        .d-flex.flex-column.mb-3.w-100
          .card.mb-auto
            .card-body
              %h5.card-title
                = tenant[:name]
              %ul.list-group.list-group-flush
                %li.list-group-item
                  Locations:
                  = tenant[:num_locations]
                %li.list-group-item
                  Floors:
                  = tenant[:num_floors]
                %li.list-group-item
                  Rooms:
                  = tenant[:num_rooms]
                %li.list-group-item
                  Desks:
                  = tenant[:num_desks]
                %li.list-group-item
                  Reservations (total / n7d / today):
                  = "#{tenant[:num_reservations][:total]} /"
                  = "#{tenant[:num_reservations][:n7d]} /"
                  = tenant[:num_reservations][:today]


  .d-flex.flex-column.bd-hightlight.mb-3.w-50.ml-3
    .d-flex.flow-row.mb-3
      .d-flex.flex-column.mb-3.w-100
        .card.mb-auto
          .card-body
            %h5.card-title
              Who's in today?
            %ul.list-group.list-group-flush
              %li.list-group-item
                = @in_today.join(", ")

    .d-flex.flow-row.mb-3
      .d-flex.flex-column.mb-3.w-100
        .card.mb-auto
          .card-body
            %h5.card-title
              Who's in tomorrow?
            %ul.list-group.list-group-flush
              %li.list-group-item
                = @in_tomorrow.join(", ")

    .d-flex.flow-row.mb-3
      .d-flex.flex-column.mb-3.w-100
        .card.mb-auto
          .card-body
            %h5.card-title
              Top 5 Users
            %ul.list-group.list-group-flush
              - @top5_users.each do |user|
                %li.list-group-item
                  = user

    .d-flex.flow-row.mb-3
      .d-flex.flex-column.mb-3.w-100
        .card.mb-auto
          .card-body
            %h5.card-title
              Most popular Desks
            %ul.list-group.list-group-flush
              - @top5_desks.each do |desk|
                %li.list-group-item
                  = desk
